README.pdf
Modules/Module1/Module1.pdf
Modules/Module2/Module2.pdf
Modules/Module3/Module3.pdf
Modules/Module4/Module4.pdf
Modules/SourceTree/Setup.pdf
Projects/ASCII Initials Art Project.pdf
Projects/Bonus-ASCII-Art/Bonus-ASCII-Art.pdf
Modules/Module4/planets.py
Projects/Projectile-Motion/planets.py
Projects/Your weight in space/planets.py
*.pyc
